body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#MSGprincipal {
  margin: auto auto;
  width: 50%;
  padding: 15px;
  border: 10px dashed #0d8;
}

.Github {
  align-self: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
}
footer > * {
  margin: 50px;
}
